@using CSharpAdvancedProjectBLL.Models
@using CSharpAdvancedProjectBLL.Interfaces

<EditForm Model="@Employee" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Фамилия</label>
        <div>
            <InputText class="form-control" @bind-Value="@Employee.Surname" />
            <ValidationMessage For="@(() => Employee.Surname)" />
        </div>
    </div>
    <div class="form-group">
        <label>Имя</label>
        <div>
            <InputText class="form-control" @bind-Value="@Employee.FirstName" />
            <ValidationMessage For="@(() => Employee.FirstName)" />
        </div>
    </div>
    <div class="form-group">
        <label>Отчество</label>
        <div>
            <InputText class="form-control" @bind-Value="@Employee.MiddleName" />
            <ValidationMessage For="@(() => Employee.MiddleName)" />
        </div>
    </div>
    <div class="form-group">
        <label>Организация</label>
        <div>
            <InputSelect class="form-control" @bind-Value="@Employee.CompanyId">
                <option value="">Выберите организацию</option>
                @if (Companies != null)
                {
                    foreach (var company in Companies)
                    {
                        <option value="@company.Id">@company.Name</option>
                    }
                }
            </InputSelect>
            <ValidationMessage For="@(() => Employee.MiddleName)" />
        </div>
    </div>
    <div class="form-group">
        <label>Дата приема</label>
        <div>
            <InputDate class="form-control" @bind-Value="@Employee.EmploymentDate" />
            <ValidationMessage For="@(() => Employee.EmploymentDate)" />
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Должность</label>
            <div>
                <InputSelect class="form-control" @bind-Value="@Employee.PositionId">
                    <option value="0">Выберите должность</option>
                    @if (Positions != null)
                    {

                        foreach (var position in Positions)
                        {
                            <option value="@position.Id">@position.Name</option>
                        }
                    }
                </InputSelect>
                <ValidationMessage For="@(() => Employee.PositionId)" />
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success">
        @ButtonSuccessText
    </button>
    <a class="btn btn-dark" href="employee">@ButtonCancelText</a>
</EditForm>
@code {
    [Parameter] public EmployeeModel Employee { get; set; }
    [Parameter] public string ButtonSuccessText { get; set; } = "Сохранить";
    [Parameter] public string ButtonCancelText { get; set; } = "Назад";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    [Parameter] public IEnumerable<PositionModel> Positions { get; set; }
    [Parameter] public IEnumerable<CompanyModel> Companies { get; set; }
}
