@using CSharpAdvancedProjectBLL.Models
@using CSharpAdvancedProjectBLL.Interfaces

<EditForm Model="@Company" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Наименование организации :</label>
        <InputText class="form-control" @bind-Value="@Company.Name" />
            <ValidationMessage For="@(() => Company.Name)" />
    </div>
    <div class="form-group">
        <label>Максимальное кол-во сотрудников :</label>
        <InputNumber class="form-control" @bind-Value="@Company.Size" />
            <ValidationMessage For="@(() => Company.Size)" />
    </div>
    <div class="form-group ">
        <div>
            <label>Организационно-правовая форма :</label>
            <InputTextArea class="form-control" @bind-Value="@Company.LegalForm" />
                <ValidationMessage For="@(() => Company.LegalForm)" />
        </div>
    </div>
    <div class="form-group">
        <label>Вид деятельности :</label>
        <InputTextArea class="form-control" @bind-Value="@Company.ActivityType" />
            <ValidationMessage For="@(() => Company.ActivityType)" />
    </div>
    <button type="submit" class="btn btn-success">
        @ButtonSuccessText
    </button>
    <a class="btn btn-dark" href="company">@ButtonCancelText</a>
</EditForm>
@code {
    [Parameter] public CompanyModel Company { get; set; }
    [Parameter] public string ButtonSuccessText { get; set; } = "Сохранить";
    [Parameter] public string ButtonCancelText { get; set; } = "Назад";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
